# Not utilizing external hd

In [2]:
from pprint import pprint
import time
import json
with open("data/Json/bitcoin.json") as file:
    jdata = json.load(file)
for key, value in jdata.items():
    pprint("Key:")
    pprint(key)

FileNotFoundError: [Errno 2] No such file or directory: 'data/Json/bitcoin.json'

# Utilizing external hd

In [3]:
from pprint import pprint
import time
import json
import getpass
with open(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/bitcoin.json") as file:
    jdata = json.load(file)
for key, value in jdata.items():
    pprint("Key:")
    pprint(key)

'Key:'
'market_cap_by_available_supply'
'Key:'
'price_btc'
'Key:'
'price_usd'
'Key:'
'volume_usd'

In [4]:
jdata['price_btc'][:5:]

[[1367174841000, 1],
 [1367261101000, 1],
 [1367347502000, 1],
 [1367433902000, 1],
 [1367522401000, 1]]

In [5]:
jdata['price_usd'][:5:]

[[1367174841000, 135.3],
 [1367261101000, 141.96],
 [1367347502000, 135.3],
 [1367433902000, 117],
 [1367522401000, 103.43]]

In [6]:
jdata['market_cap_by_available_supply'][:5:]

[[1367174841000, 1500517590],
 [1367261101000, 1575032004],
 [1367347502000, 1501657492],
 [1367433902000, 1298951550],
 [1367522401000, 1148667722]]

In [7]:
jdata['volume_usd'][:5:]

[[1367174841000, 0],
 [1367261101000, 0],
 [1367347502000, 0],
 [1367433902000, 0],
 [1367522401000, 0]]

In [8]:
from datetime import datetime
timestamp = 1367174841
dt_object = datetime.fromtimestamp(timestamp)
print("dt_object =", dt_object)

dt_object = 2013-04-28 12:47:21

Found out you have to strip the 3 0's from the end of the unix time stamp in order to set it as a date time object.

Now testing out class to see if i made the object correctly

In [9]:
from parsing_class import *

In [10]:
btc=coinmarketcap_jsonfile(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/bitcoin.json")
eth=coinmarketcap_jsonfile(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/ethereum.json")

In [11]:
btc.data

,time,market_cap_by_available_supply_value,price_btc_value,price_usd_value,volume_usd_value
0,28-04-2013,1500517590,1,135.300,0
1,29-04-2013,1575032004,1,141.960,0
2,30-04-2013,1501657492,1,135.300,0
3,01-05-2013,1298951550,1,117.000,0
4,02-05-2013,1148667722,1,103.430,0
5,03-05-2013,1011066494,1,91.010,0
6,04-05-2013,1236351843,1,111.250,0
7,05-05-2013,1298377788,1,116.790,0
8,06-05-2013,1315992303,1,118.330,0
9,07-05-2013,1183766500,1,106.400,0
10,08-05-2013,1253655040,1,112.640,0
11,09-05-2013,1258130700,1,113.000,0
12,10-05-2013,1322989457,1,118.780,0
13,11-05-2013,1259239352,1,113.010,0
14,12-05-2013,1278708678,1,114.713,0
15,13-05-2013,1306721052,1,117.180,0
16,14-05-2013,1277278987,1,114.500,0
17,15-05-2013,1273849680,1,114.156,0
18,16-05-2013,1289277412,1,115.500,0
19,17-05-2013,1374605382,1,123.100,0
20,18-05-2013,1383755085,1,123.880,0
21,19-05-2013,1346499261,1,120.501,0
22,20-05-2013,1370131821,1,122.580,0
23,21-05-2013,1374154117,1,122.900,0
24,22-05-2013,1375791900,1,123.000,0
25,23-05-2013,1407041527,1,125.748,0
26,24-05-2013,1474180657,1,131.700,0
27,25-05-2013,1464316690,1,130.770,0
28,26-05-2013,1507769010,1,134.600,0
29,27-05-2013,1445444605,1,128.985,0
...,...,...,...,...,...
1703,11-01-2018,232204803411,1,13823.700,16296900000
1704,12-01-2018,239102698590,1,14232.600,12448800000
1705,13-01-2018,241863525458,1,14395.300,12545200000
1706,14-01-2018,230431567285,1,13713.400,11085600000
1707,15-01-2018,221913124673,1,13204.900,13260600000
1708,16-01-2018,181618813512,1,10805.900,18185800000
1709,17-01-2018,194937510705,1,11596.900,19204500000
1710,18-01-2018,189900042039,1,11295.800,13998300000
1711,19-01-2018,200425433460,1,11920.400,10365200000
1712,20-01-2018,212269885499,1,12623.100,11745400000
1713,21-01-2018,196580255387,1,11688.500,9552180000
1714,22-01-2018,185465778104,1,11026.200,10831400000
1715,23-01-2018,182982240860,1,10877.200,9363460000
1716,24-01-2018,196778105752,1,11695.700,10919000000
1717,25-01-2018,195241731929,1,11603.100,8670790000
1718,26-01-2018,187210873150,1,11124.500,9626700000
1719,27-01-2018,194629058400,1,11564.000,7519010000
1720,28-01-2018,194205545625,1,11537.500,8508800000
1721,29-01-2018,186454558343,1,11075.700,6898600000
1722,30-01-2018,168380706387,1,10001.000,9330880000
1723,31-01-2018,169358539252,1,10058.100,7226980000
1724,01-02-2018,147859292705,1,8780.230,10347400000
1725,02-02-2018,139053828160,1,8256.330,11215600000
1726,03-02-2018,154586498312,1,9177.500,6927190000
1727,04-02-2018,137196232062,1,8144.010,7338450000
1728,05-02-2018,105345560857,1,6252.440,9467490000
1729,06-02-2018,124469701475,1,7386.630,12525700000
1730,07-02-2018,137852474823,1,8179.930,9926570000
1731,08-02-2018,134896139862,1,8003.770,8919790000
1732,09-02-2018,152333783244,1,9037.510,8170450000

In [12]:
eth.data

,time,market_cap_by_available_supply_value,price_btc_value,price_usd_value,volume_usd_value
0,07-08-2015,0,0.010141,2.831620,90621
1,08-08-2015,80339474,0.004954,1.330750,368070
2,09-08-2015,43390263,0.002691,0.718413,743154
3,10-08-2015,38898715,0.002440,0.643769,426915
4,11-08-2015,45369473,0.002829,0.750460,501828
5,12-08-2015,66171951,0.004106,1.094080,2350560
6,13-08-2015,86892350,0.005433,1.436050,2267030
7,14-08-2015,132298489,0.008225,2.185470,5633380
8,15-08-2015,98648514,0.006133,1.628840,3541220
9,16-08-2015,85435698,0.005429,1.410080,3320980
10,17-08-2015,77448311,0.004949,1.277700,2112170
11,18-08-2015,90759742,0.004926,1.251110,1631370
12,19-08-2015,89509421,0.005296,1.233440,1726800
13,20-08-2015,103319674,0.006079,1.423240,1883050
14,21-08-2015,111044685,0.006545,1.529230,2557030
15,22-08-2015,104065432,0.006304,1.432600,1626510
16,23-08-2015,95788353,0.005735,1.318190,1596800
17,24-08-2015,93834397,0.005845,1.290850,953490
18,25-08-2015,82450858,0.005198,1.133860,1150900
19,26-08-2015,86457751,0.005194,1.188540,1246990
20,27-08-2015,82761292,0.005012,1.137350,649447
21,28-08-2015,85124926,0.005116,1.169450,869767
22,29-08-2015,84433215,0.005051,1.159590,411917
23,30-08-2015,94119631,0.005651,1.292260,1106680
24,31-08-2015,97205308,0.005817,1.334240,1585480
25,01-09-2015,99258434,0.005973,1.362050,702061
26,02-09-2015,96352789,0.005773,1.321830,774641
27,03-09-2015,88991741,0.005354,1.220570,958283
28,04-09-2015,92672957,0.005535,1.270710,500545
29,05-09-2015,95493564,0.005599,1.308950,348135
...,...,...,...,...,...
887,12-01-2018,124248799953,0.090772,1281.670000,5201840000
888,13-01-2018,133588759230,0.095779,1377.720000,5672090000
889,14-01-2018,134728863762,0.100433,1389.180000,4940690000
890,15-01-2018,122466582462,0.094452,1262.480000,4768700000
891,16-01-2018,98953373618,0.090460,1019.890000,8339400000
892,17-01-2018,97362172158,0.091343,1003.250000,8242210000
893,18-01-2018,102173921640,0.091602,1052.610000,5941200000
894,19-01-2018,102681882068,0.090362,1057.620000,4096310000
895,20-01-2018,109900790747,0.090357,1131.730000,3948910000
896,21-01-2018,103920150112,0.090979,1069.920000,3380680000
897,22-01-2018,96578421091,0.092837,994.121000,3782470000
898,23-01-2018,94031332362,0.090475,967.699000,3490110000
899,24-01-2018,103398207106,0.093823,1063.870000,3986670000
900,25-01-2018,104198477941,0.094650,1071.880000,4090930000
901,26-01-2018,102862067794,0.095103,1057.910000,3570350000
902,27-01-2018,109000724704,0.097239,1120.810000,3048130000
903,28-01-2018,121816129192,0.106968,1252.320000,5425300000
904,29-01-2018,115256144765,0.105540,1184.630000,3687240000
905,30-01-2018,102585677271,0.107126,1054.180000,4146430000
906,31-01-2018,109619169009,0.110719,1126.220000,3738380000
907,01-02-2018,95671055361,0.111625,982.710000,5107220000
908,02-02-2018,88875044664,0.104023,912.710000,6573440000
909,03-02-2018,92823294624,0.104779,953.058000,3176990000
910,04-02-2018,81533006517,0.101151,836.961000,3012860000
911,05-02-2018,68879518607,0.099891,706.919000,4399600000
912,06-02-2018,76575300681,0.101881,785.733000,6430050000
913,07-02-2018,76044520279,0.101010,780.123000,4044950000
914,08-02-2018,77798863633,0.100446,797.954000,3535320000
915,09-02-2018,87505658478,0.100888,897.326000,2550520000
916,09-02-2018,88255230974,0.101187,904.994000,3074860000

In [ ]:
eth.print_min_max_datetime()

In [ ]:
btc.print_min_max_datetime()

In [ ]:
min(df['time'])

In [ ]:
btc.data[btc.data['time'].isin(pd.date_range(start='2017-10-08 10:13:00', end='2018-10-08 19:59:00'))]

In [ ]:
df[df['Date'].dt.date.astype(str) == '2017-03-20']

In [ ]:
btc.data[(btc.data['time'] > '2017-10-08') & (btc.data['time'] < '2018-10-08')]