# Not utilizing external hd

In [1]:
from pprint import pprint
import time
import json
with open("data/Json/bitcoin.json") as file:
    jdata = json.load(file)
for key, value in jdata.items():
    pprint("Key:")
    pprint(key)

FileNotFoundError: [Errno 2] No such file or directory: 'data/Json/bitcoin.json'

# Utilizing external hd

In [ ]:
from pprint import pprint
import time
import json
import getpass
with open(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/bitcoin.json") as file:
    jdata = json.load(file)
    
for key, value in jdata.items():
    pprint("Key:")
    pprint(key)

In [ ]:
jdata['price_btc'][:5:]

In [ ]:
jdata['price_usd'][:5:]

In [ ]:
jdata['market_cap_by_available_supply'][:5:]

In [ ]:
jdata['volume_usd'][:5:]

Found out you have to strip the 3 0's from the end of the unix time stamp in order to set it as a date time object.

Now testing out class to see if i made the object correctly

In [2]:
from parsing_class import *

In [3]:
btc=coinmarketcap_jsonfile(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/bitcoin.json")
eth=coinmarketcap_jsonfile(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/ethereum.json")

In [4]:
btc.data

,time,market_cap_by_available_supply_value,price_btc_value,price_usd_value,volume_usd_value
0,2013-04-28,1500517590,1,135.300,0
1,2013-04-29,1575032004,1,141.960,0
2,2013-04-30,1501657492,1,135.300,0
3,2013-05-01,1298951550,1,117.000,0
4,2013-05-02,1148667722,1,103.430,0
5,2013-05-03,1011066494,1,91.010,0
6,2013-05-04,1236351843,1,111.250,0
7,2013-05-05,1298377788,1,116.790,0
8,2013-05-06,1315992303,1,118.330,0
9,2013-05-07,1183766500,1,106.400,0
10,2013-05-08,1253655040,1,112.640,0
11,2013-05-09,1258130700,1,113.000,0
12,2013-05-10,1322989457,1,118.780,0
13,2013-05-11,1259239352,1,113.010,0
14,2013-05-12,1278708678,1,114.713,0
15,2013-05-13,1306721052,1,117.180,0
16,2013-05-14,1277278987,1,114.500,0
17,2013-05-15,1273849680,1,114.156,0
18,2013-05-16,1289277412,1,115.500,0
19,2013-05-17,1374605382,1,123.100,0
20,2013-05-18,1383755085,1,123.880,0
21,2013-05-19,1346499261,1,120.501,0
22,2013-05-20,1370131821,1,122.580,0
23,2013-05-21,1374154117,1,122.900,0
24,2013-05-22,1375791900,1,123.000,0
25,2013-05-23,1407041527,1,125.748,0
26,2013-05-24,1474180657,1,131.700,0
27,2013-05-25,1464316690,1,130.770,0
28,2013-05-26,1507769010,1,134.600,0
29,2013-05-27,1445444605,1,128.985,0
...,...,...,...,...,...
1703,2018-01-11,232204803411,1,13823.700,16296900000
1704,2018-01-12,239102698590,1,14232.600,12448800000
1705,2018-01-13,241863525458,1,14395.300,12545200000
1706,2018-01-14,230431567285,1,13713.400,11085600000
1707,2018-01-15,221913124673,1,13204.900,13260600000
1708,2018-01-16,181618813512,1,10805.900,18185800000
1709,2018-01-17,194937510705,1,11596.900,19204500000
1710,2018-01-18,189900042039,1,11295.800,13998300000
1711,2018-01-19,200425433460,1,11920.400,10365200000
1712,2018-01-20,212269885499,1,12623.100,11745400000
1713,2018-01-21,196580255387,1,11688.500,9552180000
1714,2018-01-22,185465778104,1,11026.200,10831400000
1715,2018-01-23,182982240860,1,10877.200,9363460000
1716,2018-01-24,196778105752,1,11695.700,10919000000
1717,2018-01-25,195241731929,1,11603.100,8670790000
1718,2018-01-26,187210873150,1,11124.500,9626700000
1719,2018-01-27,194629058400,1,11564.000,7519010000
1720,2018-01-28,194205545625,1,11537.500,8508800000
1721,2018-01-29,186454558343,1,11075.700,6898600000
1722,2018-01-30,168380706387,1,10001.000,9330880000
1723,2018-01-31,169358539252,1,10058.100,7226980000
1724,2018-02-01,147859292705,1,8780.230,10347400000
1725,2018-02-02,139053828160,1,8256.330,11215600000
1726,2018-02-03,154586498312,1,9177.500,6927190000
1727,2018-02-04,137196232062,1,8144.010,7338450000
1728,2018-02-05,105345560857,1,6252.440,9467490000
1729,2018-02-06,124469701475,1,7386.630,12525700000
1730,2018-02-07,137852474823,1,8179.930,9926570000
1731,2018-02-08,134896139862,1,8003.770,8919790000
1732,2018-02-09,152333783244,1,9037.510,8170450000

In [5]:
eth.data['time']

0      2015-08-07
1      2015-08-08
2      2015-08-09
3      2015-08-10
4      2015-08-11
5      2015-08-12
6      2015-08-13
7      2015-08-14
8      2015-08-15
9      2015-08-16
10     2015-08-17
11     2015-08-18
12     2015-08-19
13     2015-08-20
14     2015-08-21
15     2015-08-22
16     2015-08-23
17     2015-08-24
18     2015-08-25
19     2015-08-26
20     2015-08-27
21     2015-08-28
22     2015-08-29
23     2015-08-30
24     2015-08-31
25     2015-09-01
26     2015-09-02
27     2015-09-03
28     2015-09-04
29     2015-09-05
          ...
887    2018-01-12
888    2018-01-13
889    2018-01-14
890    2018-01-15
891    2018-01-16
892    2018-01-17
893    2018-01-18
894    2018-01-19
895    2018-01-20
896    2018-01-21
897    2018-01-22
898    2018-01-23
899    2018-01-24
900    2018-01-25
901    2018-01-26
902    2018-01-27
903    2018-01-28
904    2018-01-29
905    2018-01-30
906    2018-01-31
907    2018-02-01
908    2018-02-02
909    2018-02-03
910    2018-02-04
911    2018-02-05
912    2018-02-06
913    2018-02-07
914    2018-02-08
915    2018-02-09
916    2018-02-09
Name: time, Length: 917, dtype: object

In [6]:
eth.print_min_max_datetime()

The oldest tweet is: 2015-08-07
The youngest tweet is: 2018-02-09

In [7]:
btc.print_min_max_datetime()

The oldest tweet is: 2013-04-28
The youngest tweet is: 2018-02-09