# Not utilizing external hd

In [1]:
from pprint import pprint
import time
import json
with open("data/Json/bitcoin.json") as file:
    jdata = json.load(file)
for key, value in jdata.items():
    pprint("Key:")
    pprint(key)

FileNotFoundError: [Errno 2] No such file or directory: 'data/Json/bitcoin.json'

# Utilizing external hd

In [2]:
from pprint import pprint
import time
import json
import getpass
with open(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/bitcoin.json") as file:
    jdata = json.load(file)
for key, value in jdata.items():
    pprint("Key:")
    pprint(key)

'Key:'
'market_cap_by_available_supply'
'Key:'
'price_btc'
'Key:'
'price_usd'
'Key:'
'volume_usd'

In [3]:
jdata['price_btc'][:5:]

[[1367174841000, 1],
 [1367261101000, 1],
 [1367347502000, 1],
 [1367433902000, 1],
 [1367522401000, 1]]

In [4]:
jdata['price_usd'][:5:]

[[1367174841000, 135.3],
 [1367261101000, 141.96],
 [1367347502000, 135.3],
 [1367433902000, 117],
 [1367522401000, 103.43]]

In [5]:
jdata['market_cap_by_available_supply'][:5:]

[[1367174841000, 1500517590],
 [1367261101000, 1575032004],
 [1367347502000, 1501657492],
 [1367433902000, 1298951550],
 [1367522401000, 1148667722]]

In [6]:
jdata['volume_usd'][:5:]

[[1367174841000, 0],
 [1367261101000, 0],
 [1367347502000, 0],
 [1367433902000, 0],
 [1367522401000, 0]]

In [7]:
from datetime import datetime
timestamp = 1367174841
dt_object = datetime.fromtimestamp(timestamp)
print("dt_object =", dt_object)

dt_object = 2013-04-28 12:47:21

Found out you have to strip the 3 0's from the end of the unix time stamp in order to set it as a date time object.

Now testing out class to see if i made the object correctly

In [8]:
from parsing_func import *

In [9]:
btc=coinmarketcap_jsonfile(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/bitcoin.json")
eth=coinmarketcap_jsonfile(f"/media/{getpass.getuser()}/extra/Crypto-Capstone-1/data/Json/ethereum.json")

In [10]:
btc

In [11]:
eth

In [12]:
df=btc.parse_time_data()

In [13]:
df

,time,market_cap_by_available_supply_value,price_btc_value,price_usd_value,volume_usd_value
0,2013-04-28 12:47:21,1500517590,1,135.300,0
1,2013-04-29 12:45:01,1575032004,1,141.960,0
2,2013-04-30 12:45:02,1501657492,1,135.300,0
3,2013-05-01 12:45:02,1298951550,1,117.000,0
4,2013-05-02 13:20:01,1148667722,1,103.430,0
5,2013-05-03 13:20:01,1011066494,1,91.010,0
6,2013-05-04 13:20:01,1236351843,1,111.250,0
7,2013-05-05 13:25:01,1298377788,1,116.790,0
8,2013-05-06 13:25:03,1315992303,1,118.330,0
9,2013-05-07 13:25:01,1183766500,1,106.400,0
10,2013-05-08 13:25:01,1253655040,1,112.640,0
11,2013-05-09 13:50:01,1258130700,1,113.000,0
12,2013-05-10 13:55:02,1322989457,1,118.780,0
13,2013-05-11 14:25:01,1259239352,1,113.010,0
14,2013-05-12 14:25:01,1278708678,1,114.713,0
15,2013-05-13 14:25:01,1306721052,1,117.180,0
16,2013-05-14 14:25:01,1277278987,1,114.500,0
17,2013-05-15 14:35:01,1273849680,1,114.156,0
18,2013-05-16 14:35:01,1289277412,1,115.500,0
19,2013-05-17 14:35:01,1374605382,1,123.100,0
20,2013-05-18 14:35:01,1383755085,1,123.880,0
21,2013-05-19 14:35:02,1346499261,1,120.501,0
22,2013-05-20 14:35:02,1370131821,1,122.580,0
23,2013-05-21 14:35:02,1374154117,1,122.900,0
24,2013-05-22 14:35:04,1375791900,1,123.000,0
25,2013-05-23 14:35:02,1407041527,1,125.748,0
26,2013-05-24 14:35:01,1474180657,1,131.700,0
27,2013-05-25 14:35:02,1464316690,1,130.770,0
28,2013-05-26 14:45:02,1507769010,1,134.600,0
29,2013-05-27 14:45:01,1445444605,1,128.985,0
...,...,...,...,...,...
1703,2018-01-11 20:59:23,232204803411,1,13823.700,16296900000
1704,2018-01-12 20:59:21,239102698590,1,14232.600,12448800000
1705,2018-01-13 20:59:21,241863525458,1,14395.300,12545200000
1706,2018-01-14 20:59:22,230431567285,1,13713.400,11085600000
1707,2018-01-15 21:09:23,221913124673,1,13204.900,13260600000
1708,2018-01-16 21:09:25,181618813512,1,10805.900,18185800000
1709,2018-01-17 21:09:22,194937510705,1,11596.900,19204500000
1710,2018-01-18 21:09:25,189900042039,1,11295.800,13998300000
1711,2018-01-19 21:09:24,200425433460,1,11920.400,10365200000
1712,2018-01-20 21:09:25,212269885499,1,12623.100,11745400000
1713,2018-01-21 21:09:26,196580255387,1,11688.500,9552180000
1714,2018-01-22 21:09:21,185465778104,1,11026.200,10831400000
1715,2018-01-23 21:09:26,182982240860,1,10877.200,9363460000
1716,2018-01-24 21:09:25,196778105752,1,11695.700,10919000000
1717,2018-01-25 21:09:28,195241731929,1,11603.100,8670790000
1718,2018-01-26 21:09:26,187210873150,1,11124.500,9626700000
1719,2018-01-27 21:09:26,194629058400,1,11564.000,7519010000
1720,2018-01-28 21:09:25,194205545625,1,11537.500,8508800000
1721,2018-01-29 21:09:22,186454558343,1,11075.700,6898600000
1722,2018-01-30 21:09:22,168380706387,1,10001.000,9330880000
1723,2018-01-31 21:09:28,169358539252,1,10058.100,7226980000
1724,2018-02-01 21:09:29,147859292705,1,8780.230,10347400000
1725,2018-02-02 21:09:25,139053828160,1,8256.330,11215600000
1726,2018-02-03 21:09:30,154586498312,1,9177.500,6927190000
1727,2018-02-04 21:09:29,137196232062,1,8144.010,7338450000
1728,2018-02-05 21:39:28,105345560857,1,6252.440,9467490000
1729,2018-02-06 21:44:23,124469701475,1,7386.630,12525700000
1730,2018-02-07 21:44:23,137852474823,1,8179.930,9926570000
1731,2018-02-08 21:44:29,134896139862,1,8003.770,8919790000
1732,2018-02-09 20:54:27,152333783244,1,9037.510,8170450000